// Colors

$c__yellow: #FFDA19;
$c__yellow--light: #F7E18E;
$c__blue: #00AEEF;
$c__blue--light: #9BCEE6;
$c__magenta: #E64186;
$c__magenta--light: #E5839F;
$c__black: #3C4246;
$c__black--light: #6B7175;
