.interactive-title {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  line-height: 0;

  .img__stack {
    display: inline-block;
    width: 22.5%;
    margin: 0 1%;

    .img {
      width: 100%;
      background: white;
      transition: opacity 250ms;

      &.img--absolute {
        position: absolute;
        top: 0;
        left: 0;
      }

      &.img--hidden {
        opacity: 0;
      }

      img {
        width: 100%;
      }
    }
  }
}

