.section--home {
  .title__wrapper {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    img.cmyk--horizontal {
      height: 100%;
      width: 100%;

      @media (max-width: 755px) {
        display: none;
      }
    }

    img.cmyk--square {
      height: 100%;
      width: 100%;
      display: none;

      @media (max-width: 755px) {
        display: block;
      }
    }
  }

  .navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;

    .nav__item {
      text-transform: uppercase;
      display: inline-block;
      padding: 20px;
      letter-spacing: 2px;
      color: grey;
      transition: color 250ms;

      &#about {
        &:hover {
          color: $c__blue;
        }
      }

      &#schedule {
        &:hover {
          color: $c__magenta;
        }
      }

      &#registration {
        &:hover {
          color: $c__yellow;
        }
      }

      &#competition {
        &:hover {
          color: $c__black;
        }
      }

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 610px) {
        padding: 15px;
      }
    }

    @media (max-width: 720px) {
      font-size: 18px;
    }

    @media (max-width: 610px) {
      font-size: 16px;
    }
  }
}
